{% extends 'base/base.html' %}

{% block title %}
Login
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

{% if validlink %}

<div class="container">
	<div class="row">
		<form method="post">
			{% csrf_token %}
			{{ form.new_password1.errors }}
			<h1 class="text-center">Nueva contraseña: </h1>
			{{ form.new_password1 }}

			{{ form.new_password2.errors }}

			<label for="id_new_password2">Confirmar contraseña:</label> {{ form.new_password2 }}
			<input class="btn btn-success" type="submit" value="Cambiar contraseña">
		</form>
		{% else %}
			<h1 class="text-center">Enlace Invalido, ya fue utilizado</h1>
		{% endif %}
	</div>
</div>
{% endblock %}